<%- include('partials/header') %>
    <h1>Opprett en Bedrift</h1>


    <form action="/bedrift/create" method="POST">
        <label>Bedrift Navn</label>
        <input type="text" name="name" required />

        <label>Type</label>
        <select name="type" required>
            <option value="">Velg type</option>
            <option value="praksis">Praksis</option>
            <option value="laerebedrift">Laerebedrift</option>
        </select>

        <label>Kontaktperson</label>
        <input type="text" name="contactPerson" required />

        <button type="submit">Opprett</button>
    </form>

    <% if (typeof error !=="undefined" ) { %>
        <p style="color:red;">
            <%= error %>
        </p>
        <% } %>


            <%- include('partials/footer') %>