<%- include('partials/header') %>
    <h1>Opprett en bedrift</h1>


    <form action="/bedrift/create" method="POST">
        <label>Bedrift navn:</label>
        <input type="text" name="name" required />
        <label>E-post:</label>
        <input type="email" name="email" required />
        <label>Passord:</label>
        <input type="password" name="password" required />
        <label>Bekreft passord:</label>
        <input type="password" name="confirmPassword" required />
        <label>Type:</label>
        <select name="type" required>
            <option value="praksis">Praksis</option>
            <option value="laerebedrift">Laerebedrift</option>
        </select>
        <label>Kontaktperson:</label>
        <input type="text" name="contactPerson" required />
        <button type="submit">Opprett bedrift</button>
    </form>

    <% if (typeof error !=="undefined" ) { %>
        <p style="color:red;">
            <%= error %>
        </p>
        <% } %>


            <%- include('partials/footer') %>