<%- include('partials/header') %>

<h1>Noe gikk galt</h1>

<p class="message error"><%= typeof error !== "undefined" ? error : "En uventet feil oppstod." %></p>

<a href="/">Tilbake til forsiden</a>

<%- include('partials/footer') %>
