<%- include('partials/header') %>
    <h1>Login Student</h1>
    <form action="/login/student" method="POST">

        <label>Email</label>
        <input type="email" name="email" required />

        <label>Password</label>
        <input type="password" name="password" required />

        <label>Confirm Password</label>
        <input type="password" name="confirmPassword" required />

        <button type="submit">Register</button>
        <a href="/login-user">Log in as an admin?</a>
    </form>

    <% if (typeof error !=="undefined" ) { %>
        <p style="color:red;">
            <%= error %>
        </p>
        <% } %>

            <%- include('partials/footer') %>