<%- include('partials/header') %>
    <h1>Registrer bruker</h1>
    <form action="/register/user" method="POST">

        <label>Navn</label>
        <input type="text" name="name" required />

        <label>E-post</label>
        <input type="email" name="email" required />

        <label>Password</label>
        <input type="password" name="password" required />

        <label>Bekreft passord</label>
        <input type="password" name="confirmPassword" required />

        <button type="submit">Registrer</button>
        <a href="/login-user">Har du allerede en konto?</a>
        <a href="/login-student">Logg inn som elev?</a>
    </form>

    <% if (typeof error !=="undefined" ) { %>
        <p style="color:red;">
            <%= error %>
        </p>
        <% } %>

            <%- include('partials/footer') %>